.mx-detach_form{
	display: none;
}
.mx-attach_form{
	display: block;
}
#attachItemActivityWrap .mx-detach_form{
	display: block;
}
#attachItemActivityWrap .mx-attach_form{
	display: none;
}
#attachItemActivityWrap .load-newest{
	display: none !important;
}
#attachItemActivityWrap h2{
	text-align: center;
}

/*activity list*/
#buddypress .activity#attachItemActivityWrap ul li{
	border: none;
    padding: 15px 0;
    margin: 0;
    position: relative;
    list-style: none;
    background: #f9f9f8;
    padding: 14px;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 14px;
    box-shadow: 0px -1px 4px 2px #d7d8db, 0 0 0 1px #e3e4e8;
    overflow: visible;
}
#buddypress .activity#attachItemActivityWrap ul li li{
	box-shadow: none;
}
#buddypress .activity#attachItemActivityWrap ul{
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0 
}
#buddypress .activity#attachItemActivityWrap > ul{
    width: 100%;   
}
#buddypress .activity#attachItemActivityWrap > ul{
	margin-bottom: 20px;
}
#buddypress .activity#attachItemActivityWrap div.activity-meta{
	width: 100%;
	clear: both;
}
#buddypress .activity#attachItemActivityWrap .mx-ulike_box ul li{
	padding: 0px;
    margin: 5px 4px;    
    -moz-border-radius: 0;
    -o-border-radius: 0;
    width: auto;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
#buddypress .activity#attachItemActivityWrap .mx-ulike_box ul li:first-child{
	padding: 0px 4px !important;
	border-radius: 0;
	text-align: center;
    width: 100%;
}

/*buttons*/
.mx-attach_forms_wrap{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -4px;
	right: 0px;
	display: none;
}
.directory.activity .mx-attach_forms_wrap{
	display: block;
}
#attachItemActivityWrap .mx-attach_forms_wrap{
    top: 12px;
    right: 12px;
}
.mx-attach_forms_wrap button{
	background: none;
	border: none;
	color: #ddd;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	text-shadow: none;
	outline: none;
	-webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}
.mx-attach_forms_wrap button:hover,
.mx-attach_forms_wrap button:focus,
.mx-attach_forms_wrap button:visited{
	background: none;
	border: none;
	color: #44345e;
	outline: none;
	-webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}